<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <div class="container-topo">
        <div class="texto-dashboard">Dashboard</div>
        <ion-icon name="notifications"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <!-- 21/05 - 16:00 -->
  <div class="opcoes-topo" *ngIf="status['status_mercado'] == 1">
    <div class="divisoria-topo">
      <span class="preco-time">PREÇO DO TIME</span>
      <span><span class="cs">C$</span><span class="valor">&nbsp;{{valorTime}}</span></span>
    </div>
    <div class="divisoria-topo">
      <span class="mercado-fechamento">MERCADO FECHA EM</span>
      <span class="horario-fechamento">{{dataStatus[0]}}/{{dataStatus[1]}} - {{dataStatus[3]}}:{{dataStatus[4] | date:
        'mm'}} <ion-icon name="alert-circle"></ion-icon></span>
    </div>
    <div class="divisoria-topo">
      <span class="cartoletas-topo">VOCÊ AINDA TEM</span>
      <span><span class="cs">C$</span><span class="valor">&nbsp;{{cartoletasRestantes}}</span></span>
    </div>
  </div>

  <div class="opcoes-topo" *ngIf="status['status_mercado'] == 2">
    <div class="divisoria-topo" style="border: none;">
      <span class="preco-time">MERCADO</span>
      <span class="valor"><b>FECHADO</b></span>
    </div>
  </div>

  <div class="corpo">
    <div class="caixa-topo">
      <div class="dropdown">
        <div class="dropdown-select">
          <span class="select">{{esquemaAtual}} <ion-icon name="chevron-down-outline"></ion-icon></span>
        </div>
        <div class="caixa-dropdown">
          <div class="dropdown-list" *ngFor="let dados of esquemas">
            <div class="dropdown-list_item" (click)="definirEsquema(dados.nome)">
              <span>{{dados.nome}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="opcoes-time">
        <div class="opcao active" (click)="opcaoCampo()" #opcao1>
          <ion-icon name="football-outline"></ion-icon>
        </div>
        <br>
        <div class="opcao" (click)="opcaoLista()" #opcao2>
          <ion-icon name="reorder-four-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="cartola-campinho">
      <div class="caixa-gol" *ngFor="let goleiro of gol">
        <div class="pontuacao-flutuante">
          <span>C$ {{goleiro.preco_num}}</span>
        </div>
        <div class="gol" style="background-image: url('{{goleiro.foto}}')">
        </div>
        <div class="label-goleiro">
          <span>
            {{goleiro.apelido_abreviado}}
          </span>
        </div>
      </div>

      <div class="caixa-zag{{i}}" *ngFor="let zagueiro of zag, let i = index">
        <div class="pontuacao-flutuante">
          <span>C$ {{zagueiro.preco_num}}</span>
        </div>
        <div class="zag" style="background-image: url('{{zagueiro.foto}}')">
        </div>
        <div class="label-zagueiro">
          <span>
            {{zagueiro.apelido_abreviado}}
          </span>
        </div>
      </div>

      <div class="caixa-lat{{i}}" *ngFor="let lateral of lat, let i = index">
        <div class="pontuacao-flutuante">
          <span>C$ {{lateral.preco_num}}</span>
        </div>
        <div class="lat" style="background-image: url('{{lateral.foto}}')">
        </div>
        <div class="label-lateral">
          <span>
            {{lateral.apelido_abreviado}}
          </span>
        </div>
      </div>

      <div class="caixa-mei{{i}}" *ngFor="let meia of mei, let i = index">
        <div class="pontuacao-flutuante">
          <span>C$ {{meia.preco_num}}</span>
        </div>
        <div class="mei" style="background-image: url('{{meia.foto}}')">
        </div>
        <div class="label-meia">
          <span>
            {{meia.apelido_abreviado}}
          </span>
        </div>
      </div>

      <div class="caixa-ata{{i}}" *ngFor="let atacante of ata, let i = index">
        <div class="pontuacao-flutuante">
          <span>C$ {{atacante.preco_num}}</span>
        </div>
        <div class="ata" style="background-image: url('{{atacante.foto}}')">
        </div>
        <div class="label-atacante">
          <span>
            {{atacante.apelido_abreviado}}
          </span>
        </div>
      </div>

      <div class="caixa-tec" *ngFor="let tecnico of tec">
        <div class="pontuacao-flutuante">
          <span>C$ {{tecnico.preco_num}}</span>
        </div>
        <div class="tec" style="background-image: url('{{tecnico.foto}}')">
        </div>
        <div class="label-atacante">
          <span>
            {{tecnico.apelido_abreviado}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>

</ion-content>