@import url("https://fonts.googleapis.com/css2?family=Glegoo&family=Roboto+Slab:wght@700;900&display=swap");

ion-toolbar {
    --background: #ff7400;
    --opacity: 1 !important;
    box-shadow: none;
    div.container-topo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div.texto-dashboard {
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
            width: 85%;
        }

        ion-icon {
            color: #ffffff;
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

div.opcoes-topo {
    height: 48px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 1px #00000025;
    display: flex;
    align-items: center;
    justify-content: center;

    div.divisoria-topo {
        width: calc(100% / 3);
        padding: -10px;
        border-right: 1px solid #e9e9e9;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .preco-time {
            font-size: 10px;
            color: #9b9b9b;
        }

        .cs {
            font-size: 10px;
            color: #9b9b9b;
            font-family: "Roboto Slab", serif;
        }

        .mercado-fechamento {
            font-size: 10px;
            color: #9b9b9b;
        }

        .horario-fechamento {
            font-size: 13px;
            font-weight: bold;
            font-family: "Roboto Slab", serif;
            ion-icon {
                color: #9b9b9b;
            }
        }

        .valor {
            font-weight: bold;
            font-family: "Roboto Slab", serif;
        }

        .cartoletas-topo {
            font-size: 10px;
            color: #9b9b9b;
        }
    }
}
ion-content {
    --background: #e9e9e9;

    div.corpo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width: 38.75em) {
            .cartola-campinho {
                width: 45vw;
            }
        }
        .cartola-campinho {
            background: url("../../../assets/img/campinho-sem-borda.svg") center center no-repeat;
            background-size: contain;
            height: 359px;
            width: 98vw;
            transition: all 0.6s ease;
            position: relative;
            margin: 0 auto;
            margin-top: 20px !important;
            .label-goleiro,
            .label-zagueiro,
            .label-lateral,
            .label-meia,
            .label-atacante,
            .label-tecnico {
                height: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 55px;
                background-color: #1c813e;
                border-radius: 4px;
                color: #fff;
                font-size: 9px;
                line-height: 9px;
                margin-top: 3px;
                padding: 3px;
                text-transform: capitalize;
                text-align: center;
            }
        }

        .caixa-topo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 20px;
        }

        .dropdown {
            width: 80px;
            color: #ff7400;
            font-weight: bold;
            font-size: 15px;
            .dropdown-select {
                padding: 10px;
                border-radius: 6px;
                background-color: white;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;

                ion-icon {
                    position: relative;
                    font-weight: bold;
                    left: 5px;
                    top: 3px;
                }
            }

            .caixa-dropdown {
                border-radius: 6px;
                background-color: white;
                position: absolute;
                top: 128px;
                height: 0;
                z-index: 999;

                .dropdown-list {
                    background-color: white;
                    border-radius: 6px;
                    height: 0px;
                }

                .dropdown-list_item {
                    padding: 1rem;
                    opacity: 0;
                    font-size: 15px;
                    height: 0px;
                    width: 80px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .dropdown:hover {
            .caixa-dropdown {
                height: 364px;
                .dropdown-list {
                    height: 52px;
                    .dropdown-list_item {
                        opacity: 1;
                        height: 50px;
                    }
                }
            }
        }
        div.opcoes-time {
            display: flex;
            align-items: center;
            justify-content: center;

            .opcao {
                border-radius: 5px;
                width: 50px;
                height: 45px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                ion-icon {
                    font-size: 25px;
                    color: #9b9b9b;
                }
            }
            .active {
                background-color: #ff7400;
                ion-icon {
                    color: #fff;
                }
            }
        }
    }

    .modificar-jogador {
        width: 100%;
        background-color: #fff;
        height: 0px;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }

    .status-5 {
        border: 2px solid red !important;
    }

    .status-7 {
        border: 1px solid #fff !important;
    }

    .status-2 {
        border: 2px solid #fa0 !important;
    }
    .status-6 {
        border: 2px solid red !important;
    }
    .status-3 {
        border: 2px solid red !important;
    }
}

.bg-modificar {
    width: 100%;
    // height: 100vh;
    // background-color: #00000035;
    transition: 1s;

    .modificar-jogador {
        width: 100%;
        // height: 60%;
        transition: 2s;
        background-color: #fff !important;
        padding: 20px;
        position: absolute;
        bottom: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 6;
        .caixa-topo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: column;
            width: 100%;

            ion-icon {
                position: relative;
                bottom: 60px;
                color: red;
                font-size: 25px;
            }
            .status {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;
                bottom: 30px;
                .status {
                    font-size: 10px;
                    color: #9b9b9b;
                }
                .provavel {
                    position: relative;
                    bottom: 37px;
                    font-size: 12px;
                    color: #26ca5e;
                    font-weight: bold;
                }
                .suspenso,
                .contundido {
                    position: relative;
                    bottom: 37px;
                    font-size: 12px;
                    color: red;
                    font-weight: bold;
                    border: none !important;
                }
                .duvida {
                    position: relative;
                    bottom: 37px;
                    font-size: 12px;
                    color: yellow;
                    font-weight: bold;
                }
            }

            .atleta {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .foto {
                    border: 1px solid #e9e9e9;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                }
                .nome {
                    font-weight: bold;
                    margin-top: 5px;
                }
                .escudo {
                    position: relative;
                    bottom: 83px;
                    left: 20px;
                }
                .preco {
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    bottom: 5px;
                }
                span {
                    position: relative;
                    bottom: 2px;
                    .posicao {
                        font-weight: bold;
                        font-size: 10px;
                        color: #9b9b9b;
                        text-transform: uppercase;
                    }
                    .time {
                        font-size: 10px;
                        color: #9b9b9b;
                    }
                }
            }
        }

        .detalhes {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            bottom: 20px;
            .detalhe {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                .texto-detalhe {
                    font-size: 12px;
                    color: #9b9b9b;
                }
                .array-detalhe {
                    font-weight: bold;
                    font-size: 12px;
                }
                .positivo {
                    font-weight: bold;
                    font-size: 12px;
                    color: #26ca5e;
                }
                .negativo {
                    font-weight: bold;
                    font-size: 12px;
                    color: red;
                }
                .nulo {
                    font-weight: bold;
                    color: #9b9b9b;
                }
            }

            button {
                width: 100%;
                height: 35px;
                font-size: 12px;
                color: #fff;
                border-radius: 2px;
                margin-top: 10px;
                box-shadow: 0px 1px 2px 0px #00000085;
            }
            .capitao {
                background-color: #ff7400;
            }
            .vender {
                background-color: red;
            }
        }
    }
}

.positivo {
    font-weight: bold;
    font-size: 10px;
    color: #26ca5e;
}
.negativo {
    font-weight: bold;
    font-size: 10px;
    color: red;
}
.nulo {
    font-weight: bold;
    font-size: 10px;
    color: #9b9b9b;
}

.comprar {
    background-color: #1c813e !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    box-shadow: 0px 1px 2px 0px #00000085 !important;
    ion-icon {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
}

.linha-1 {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 9%;
    left: -50%;
    right: -50%;
    div.jogadores {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .gol,
        .tec {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            background-position: center top;
            background-size: cover;
            border: 1px solid #fff;
        }
        .caixa-gol {
            width: 40px;
            position: relative;
            right: 24.5%;
        }

        .caixa-tec {
            position: relative;
            right: 50px;
        }

        .caixa-tec,
        .caixa-gol {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .duvida{
                border: 2px solid rgba(245, 207, 40, 0.842) !important;
            }
            .nulo{
                border: 2px solid #9b9b9b !important;
            }
            .suspenso, .contundido{
                border: 2px solid red !important;
            }
            
            .pontuacao-flutuante {
                width: 40px;
                font-size: 9px;
                color: #999;

                background-color: #fff;
                border-radius: 2px;
                height: 15px;
                line-height: 15px;
                margin-bottom: 4px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.linha-2 {
    width: 270px;
    margin: 0 auto;
    position: absolute;
    bottom: 31%;
    left: -50%;
    right: -50%;
    div.jogadores {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .caixa-zag,
        .caixa-lat {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .duvida {
                border: 2px solid rgba(245, 207, 40, 0.842) !important;
            }
            .nulo {
                border: 2px solid #9b9b9b !important;
            }
            .suspenso,
            .contundido {
                border: 2px solid red !important;
            }

            .pontuacao-flutuante {
                font-family: "Roboto Slab", serif;
                width: 40px;
                font-size: 9px;
                color: #999;
                background-color: #fff;
                border-radius: 2px;
                height: 15px;
                line-height: 15px;
                margin-bottom: 4px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .zag,
        .lat {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            background-position: center top;
            background-size: cover;
            border: 1px solid #fff;
        }
    }
}

.linha-3 {
    width: 230px;
    margin: 0 auto;
    position: absolute;
    bottom: 54%;
    left: -50%;
    right: -50%;
    div.jogadores {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .caixa-mei {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .duvida {
                border: 2px solid rgba(245, 207, 40, 0.842) !important;
            }
            .nulo {
                border: 2px solid #9b9b9b !important;
            }
            .suspenso,
            .contundido {
                border: 2px solid red !important;
            }

            .pontuacao-flutuante {
                width: 40px;
                font-family: "Roboto Slab", serif;
                font-size: 9px;
                color: #999;
                background-color: #fff;
                border-radius: 2px;
                height: 15px;
                line-height: 15px;
                margin-bottom: 4px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .mei {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            background-position: center top;
            background-size: cover;
            border: 1px solid #fff;
        }
    }
}

.linha-4 {
    width: 220px;
    margin: 0 auto;
    position: absolute;
    bottom: 77%;
    left: -50%;
    right: -50%;
    div.jogadores {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .caixa-ata {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .duvida {
                border: 2px solid rgba(245, 207, 40, 0.842) !important;
            }
            .nulo {
                border: 2px solid #9b9b9b !important;
            }
            .suspenso,
            .contundido {
                border: 2px solid red !important;
            }

            .pontuacao-flutuante {
                width: 40px;
                font-family: "Roboto Slab", serif;
                font-size: 9px;
                color: #999;
                background-color: #fff;
                border-radius: 2px;
                height: 15px;
                line-height: 15px;
                margin-bottom: 4px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .ata {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            background-position: center top;
            background-size: cover;
            border: 1px solid #fff;
        }
    }
}

.caixa-ficha {
    width: 95vw;
    position: relative;
    margin: 0 auto;
    margin-top: 10px !important;

    .jogadores {
        width: 100%;
        height: 60px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 2px 1px #00000025;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;

        .caixa-1 {
            width: 70%;
            display: flex;
            align-items: center;
            .nome-posicao {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-left: 10px;
                span.apelido {
                    font-weight: bold;
                    font-size: 12px;
                    position: relative;
                    top: 5px;
                }
                span {
                    .posicao {
                        font-size: 10px;
                        font-weight: bold;
                        color: #9b9b9b;
                    }

                    .clube {
                        font-size: 10px;
                        color: #9b9b9b;
                    }
                }
            }
        }
        .caixa-2 {
            width: 30%;
            .pontos {
                font-family: "Roboto Slab", serif;
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}

.pontos-positivo {
    color: #26ca5e;
    font-size: 14px;
    font-weight: bold;
}

.pontos-negativo {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.pontos-nulo {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: bold;
}

.splash {
    height: 100vh;
    width: 100%;
    background: #e9e9e9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #ff7400; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.desabilitar-splash {
    display: none;
}

.suspenso {
    border: 2px solid red !important;
}
