<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="escalacao">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Escalação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="competicoes">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Competições</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="amigos">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Amigos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pro">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Pro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>