<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #fff"></ion-menu-button>
      </ion-buttons>
      <div class="container-topo">
        <div class="texto-dashboard">Dashboard</div>
        <ion-icon name="notifications"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <!-- 21/05 - 16:00 -->
  <div class="opcoes-topo" *ngIf="status['status_mercado'] == 1">
    <div class="divisoria-topo">
      <span class="preco-time">PREÇO DO TIME</span>
      <span><span class="cs">C$</span><span class="valor">&nbsp;{{valorTime}}</span></span>
    </div>
    <div class="divisoria-topo">
      <span class="mercado-fechamento">MERCADO FECHA EM</span>
      <span class="horario-fechamento">{{dataStatus[0]}}/{{dataStatus[1]}} - {{dataStatus[3]}}:{{dataStatus[4] | date:
        'mm'}} <ion-icon name="alert-circle"></ion-icon></span>
    </div>
    <div class="divisoria-topo">
      <span class="cartoletas-topo">VOCÊ AINDA TEM</span>
      <span><span class="cs">C$</span><span class="valor">&nbsp;{{cartoletasRestantes}}</span></span>
    </div>
  </div>

  <div class="opcoes-topo" *ngIf="status['status_mercado'] == 2">
    <div class="divisoria-topo" style="border: none;">
      <span class="preco-time">MERCADO</span>
      <span class="valor"><b>FECHADO</b></span>
    </div>
  </div>

  <div class="corpo">
    <div class="cartola-pro">
      <div class="img">
        <img src="../../assets/img/pro.png">
      </div>

      <div class="conteudo-pro">
        <span class="pro-joga">PRO joga muito mais!</span>
        <span class="dicas">Dicas exclusivas do Gato Mestre, analises do melhor Cartoleiro do pais e mais 10 ligas para
          curtir!</span>
        <span class="vire-pro">VIRE PRO</span>
      </div>


    </div>

    <div class="perfil">
      <div class="ver-perfil">
        <span class="texto">VER PERFIL</span>
      </div>
      <div class="topo-perfil">
        <div class="img-perfil">
          <img width='70' height="68" src="{{usuarios_time['url_escudo_png']}}">
          <div class="caixa-facebook" style="background-image: url('{{fotoPerfil}}')">
          </div>
        </div>
        <div class="caixa-nome">
          <span class="nome-time">{{usuarios_time['nome']}}<br>
            <span class="nivel-time">Nivel Inicial</span></span>
        </div>
      </div>
      <div class="caixa-dados">
        <div class="jog-pontuados">
          <span class="titulo-caixa-dados">
            JOG. PONTUADOS
          </span>
          <span class="texto-caixa-dados">
            {{jogadoresPontuados}}/12
          </span>
        </div>
        <div class="parcial-rodada">
          <span class="titulo-caixa-dados">
            PARCIAL DA RODADA
          </span>
          <span class="texto-caixa-dados" *ngIf="pontuacao == 0">
            0.00
          </span>
          <span class="texto-caixa-dados" *ngIf="pontuacao != 0">
            {{pontuacao}}
          </span>
        </div>
        <div class="parcial-total">
          <span class="titulo-caixa-dados">
            PARCIAL TOTAL
          </span>
          <span class="texto-caixa-dados" *ngIf="usuario['pontos_campeonato'] == null">
            0.00
          </span>
          <span class="texto-caixa-dados" *ngIf="usuario['pontos_campeonato'] != null">
            {{usuario['pontos_campeonato']}}
          </span>
        </div>
      </div>
    </div>

    <span class="jogos-rodada">os mais escalados</span>
    <div class="corpo-destaques">
      <div class="destaques">
        <mat-tab-group>
          <mat-tab label="Titulares" >
            <div class="lista-destaques" *ngFor="let dados of destaques, let i = index">
              <div class="img" style="background-image: url('{{dados.Atleta.foto}}')">
              </div>
              <img class='escudo' src="{{dados.escudo_clube}}" width='25'>
              <div class="index">
                {{i+1}}º
              </div>
              <div class="dados-atleta">
                <span class="apelido">{{dados.Atleta.apelido}}</span>
                <span><span class='posicao'>{{dados.posicao_abreviacao}}</span>&nbsp;<span class='time'>{{dados.clube_nome}}</span></span>
                <span class="escalado-por">Escalado por</span>
                <span><span class="num-cartoleiros">{{dados.escalacoes}}</span>&nbsp;<span class="escalado-por">Cartoleiros</span></span>
              </div>
            </div>
            <div class="botao-ver" *ngIf="mostrarTodosTitulares== false">
              <button (click)='carregarTodosTitulares()'>VER TODOS OS ATLETAS</button>
            </div>

            <div class="botao-ver" *ngIf="mostrarTodosTitulares == true">
              <button (click)='carregarTitulares()'>DESFAZER</button>
            </div>
          </mat-tab>
          <mat-tab label="Reservas">
            <div class="lista-reserva" *ngFor="let dados of destaquesReservas, let i = index">
              <div class="img" style="background-image: url('{{dados.Atleta.foto}}')">
              </div>
              <img class='escudo' src="{{dados.escudo_clube}}" width='25'>
              <div class="index">
                {{i+1}}º
              </div>
              <div class="dados-atleta">
                <span class="apelido">{{dados.Atleta.apelido}}</span>
                <span><span class='posicao'>{{dados.posicao_abreviacao}}</span>&nbsp;<span class='time'>{{dados.clube_nome}}</span></span>
                <span class="escalado-por">Escalado por</span>
                <span><span class="num-cartoleiros">{{dados.escalacoes}}</span>&nbsp;<span class="escalado-por">Cartoleiros</span></span>
              </div>
            </div>

            <div class="botao-ver" *ngIf="mostrarTodosReservas == false">
              <button (click)='carregarTodosReservas()'>VER TODOS OS ATLETAS</button>
            </div>

            <div class="botao-ver" *ngIf="mostrarTodosReservas == true">
              <button (click)='carregarReservas()'>DESFAZER</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <span class="jogos-rodada">Jogos da Rodada {{usuario['rodada_atual']}}</span>
    <div class="container-jogos">
      <div class="jogos" *ngFor="let dados of confrontos">
        <div class="caixa-jogos">
          <div class="local">
            {{dados.data | date: 'EEE mm/d/y' }} <span class="bola">&nbsp;&nbsp;•&nbsp;&nbsp;</span> {{dados.local}}
            <span class="bola">&nbsp;&nbsp;•&nbsp;&nbsp;</span> {{dados.data | date: 'H:mm'}}
          </div>
          <div class="confrontos">
            <div class="time-casa">
              <div class="{{dados.historico_casa[0]}}"></div>
              <div class="{{dados.historico_casa[1]}}"></div>
              <div class="{{dados.historico_casa[2]}}"></div>
              <div class="{{dados.historico_casa[3]}}"></div>
              <div class="{{dados.historico_casa[4]}} ultimo"></div>

              <img src="{{dados.time_casa[0].escudos['30x30']}}">
            </div>
            <div class="placar">
              {{dados.placar_mandante}}
            </div>
            x
            <div class="placar">
              {{dados.placar_visitante}}
            </div>
            <div class="time-visitante">
              <img src="{{dados.time_visitante[0].escudos['30x30']}}">
              <div class="{{dados.historico_visitante[4]}} ultimo"></div>
              <div class="{{dados.historico_visitante[3]}}"></div>
              <div class="{{dados.historico_visitante[2]}}"></div>
              <div class="{{dados.historico_visitante[1]}}"></div>
              <div class="{{dados.historico_visitante[0]}}"></div>
            </div>
          </div>
          <div class="validade" *ngIf="dados.validade == false">
            ESTA PARTIDA NÃO É VALIDA PARA A RODADA
          </div>
          <div class="encerrada" *ngIf="dados.status == 'ENCERRADA' && dados.validade == true">
            <a href="{{dados.transmissao.url}}">{{dados.transmissao.label}}</a>
          </div>
          <div class="andamento" *ngIf="dados.status == 'EM_ANDAMENTO' && dados.validade == true">
            <a href="{{dados.transmissao.url}}">{{dados.transmissao.label}}</a>
          </div>
        </div>
      </div>
    </div>

    <br>
  </div>


</ion-content>